beautifulsoup4==4.13.4
certifi==2025.6.15
charset-normalizer==3.4.2
filelock==3.18.0
idna==3.10
lxml==5.4.0
mlx==0.26.1
PySocks==1.7.1
requests==2.32.4
snscrape==0.7.0.20230622
soupsieve==2.7
typing_extensions==4.14.0
urllib3==2.5.0
